# Source DB
SOURCE_DB_HOST=source-db
SOURCE_DB_PORT=5432
SOURCE_DB_NAME=sales_source
SOURCE_DB_USER=sales_user
SOURCE_DB_PASSWORD=sales_pass

# Output DB
OUTPUT_DB_HOST=output-db
OUTPUT_DB_PORT=5432
OUTPUT_DB_NAME=sales_results
OUTPUT_DB_USER=results_user
OUTPUT_DB_PASSWORD=results_pass

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# OpenLineage / Marquez
OPENLINEAGE_URL=http://marquez:5000
OPENLINEAGE_NAMESPACE=data-kata

# SOAP WS
SOAP_WS_HOST=soap-server
SOAP_WS_PORT=8001

# API
API_PORT=8080

# Data range
DATA_START_DATE=2026-03-03
DATA_END_DATE=2026-03-09
